<section class="parent-container pt-10 pbW-15" id="tabInWidth">
  <div class="form-cover">
    <div class="col-sm-9">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
            <app-form-real></app-form-real>
            <app-form-legal></app-form-legal>
          </div>
          <div role="tabpanel" class="tab-pane fade " id="vtab2">
            <app-new-demand></app-new-demand>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="vtab3">
            <!-- <send-documents></send-documents> -->
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="vtab4">
            <!-- <submit-license></submit-license> -->
          </div>
        </div>
    </div>
    <div class="col-sm-3">
      <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">فرم ها</a>
      <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
        <li class="active"><a md-raised-button href="#vtab1" data-toggle="tab" class="btn btn-default">درخواست اطلاعات</a></li>
        <li><a md-raised-button href="#vtab2" data-toggle="tab" class="btn btn-default">در خواست تقاضای جدید</a></li>
        <li><a md-raised-button href="#vtab3" data-toggle="tab" class="btn btn-default">ثبت تصویر و مدارک</a></li>
        <li><a md-raised-button href="#vtab4" data-toggle="tab" class="btn btn-default">ثبت مجوز</a></li>
      </ul>
    </div>
  </div>
</section>
