<section class="parent-container pt-10 pbW-15" id="tabInWidth">
  <ul class="nav nav-tabs">
    <li class="active"><a [routerLink]="['/','forms','demand','NewDemand']">تقاضای جدید</a></li>
    <li><a [routerLink]="['/','forms','demand','ChangeTariff']">تغییر تعرفه </a></li>
    <li><a [routerLink]="['/','forms','demand','IntegrationSeparation']">ادغام / تفکیک</a></li>
    <li><a [routerLink]="['/','forms','demand','BecomePermanent']">تبدیل به دائم</a></li>
    <li><a [routerLink]="['/','forms','demand','PowerShift']">تغییر قدرت</a></li>
    <li><a [routerLink]="['/','forms','demand','ChangeOwner']">تغییر مالک</a></li>
  </ul>
  <div class="form-cover">
    <div class="col-sm-9">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
            <form-real></form-real>
            <form-legal></form-legal>
          </div>
          <div role="tabpanel" class="tab-pane fade " id="vtab2">
            <new-demand></new-demand>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="vtab3">
            <submit-license></submit-license>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="vtab4">
            <send-documents></send-documents>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">فرم ها</a>
        <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
          <li class="active"><a href="#vtab1" data-toggle="tab">درخواست اطلاعات</a></li>
          <li><a href="#vtab2" data-toggle="tab">در خواست تقاضای جدید</a></li>
          <li><a href="#vtab3" data-toggle="tab">ثبت مجوز</a></li>
          <li><a href="#vtab4" data-toggle="tab">ثبت تصویر و مدارک</a></li>
        </ul>
    </div>
  </div>
</section>
