<section class="parent-container pt-10 pbW-15">
  <section class="form-listrequst">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-4 vertical">
        <div class="row">
          <h4 class="h6 mb-2">تغییر قدرت</h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="btn-group pull-left">
            <button type="button" class="btn btn-default" data-target=".support" data-toggle="modal"><img height="20" src="../../../../assets/images/icon/support.png" width="20" style="margin-left:5px;">پشتیبانی</button>
            <button type="button" class="btn btn-default" data-target=".movie" data-toggle="modal"><i class="fa fa-play" style="vertical-align: middle;margin-left:5px;"></i>فیلم</button>
            <button type="button" class="btn btn-default"><i class="fa fa-file-text" style="vertical-align: middle;margin-left:5px;"></i>متن</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
