  <h6 class="col-xs-12 col-sm-4" style="font-size:12px;">
    <div class="row">
        عملیات
    </div>
  </h6>
  <div class="col-xs-12" style="overflow:hidden;border: 1px solid #c1c1c1;">
    <div class="row parent-scroll">
        <div class="scroll-X-fullWidth"> 
            <table class="table table-bordered"> 
                <thead>
                    <tr>
                    <th colspan="1">نام مالک</th>
                    <th colspan="1">رمز</th>
                    <th colspan="1">پرونده</th>
                    <th colspan="1">شناسایی</th>
                    <th colspan="1">تعرفه</th>
                    <th colspan="1">امور</th>
                    <th colspan="1">بخش</th>
                    <th colspan="1">فاز</th>
                    <th colspan="1">آمپر</th>
                    <th colspan="1">قدرت</th>
                    <th colspan="1">تلفن</th>
                    <th colspan="4">آدرس</th>
                    </tr>
                </thead><!--*ngFor="let item of tasks;let i = index"-->
                <tbody *ngFor="let task of tasks;let i = index"> <!--*ngFor="let item of list;let i = index"-->
                    <tr *ngFor="let task1 of task.CalculationData"><!--let item1 of item.CalculationData;let i = index" (click)="RemoveData()-->    <!--*ngFor="let task of item.CalculationData"-->
                        <td>{{ task1.Phs }}</td>
                        <td>{{ task1.Phs }}</td> 
                        <td>{{ task1.TrfHCode }}</td>
                        <td>{{ task1.Count }}</td>
                        <td>{{ task1.PwrIcn }}</td>
                        <td>{{ task1.PwrCnt }}</td>
                        <td>{{ task1.VoltCode }}</td>
                        <td>{{ task1.Amp }}</td>
                        <td>{{ task1.FmlCode }}</td> 
                        <td>
                            <a md-raised-button class="btn btn-default btn-xs" (click)="editTask(task)" data-toggle="modal" data-target="#new-demand"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>ویرایش</a>
                            <a md-raised-button class="btn btn-danger btn-xs" (click)="deleteTask(task)"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>حذف</a>
                        </td>
                    </tr> 
                </tbody>
                <tbody>
                    <tr *ngFor="let task of tasks;let i = index">>
                        <td>{{task.id}}</td>
                        <td>{{task.RequesterId}}</td>
                        <td>{{task.FormId}}</td>
                        <td>{{task.ProcessId}}</td>
                        <td>{{task.BranchCode}}</td>
                    </tr>
                </tbody>
            </table> 
        </div>  
    </div>
  </div>