<div class="col-xs-12 header-form">
  <div class="row">
    <div class="btn-group btn-group-custom col-xs-12">
      <a md-raised-button (click)="showTask()" class="btn btn-default" data-toggle="modal" data-target="#new-demand"><i class="fa fa-plus" style="margin-left:5px;vertical-align: middle;margin-top: 2px;"></i>انشعاب جدید</a>
      <a md-raised-button (click)="showTask()" class="btn btn-default" data-toggle="modal" data-target="#branching-address"><i class="fa fa-thumbs-o-up" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>آدرس ها</a>
      <a md-raised-button (click)="showTask()" class="btn btn-default" data-toggle="modal" data-target="#change-tariff"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>تغییر تعرفه</a>
      <a md-raised-button (click)="showTask()" class="btn btn-default" data-toggle="modal" data-target="#integration"><i class="fa fa-object-ungroup" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>ادغام / تفکیک</a>
      <a md-raised-button (click)="showTask()" class="btn btn-default" data-toggle="modal" data-target="#become-permanent"><i class="fa fa-thumbs-o-up" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>تبدیل به دائم</a>
      <a md-raised-button (click)="showTask()" class="btn btn-default" data-toggle="modal" data-target="#power-shift"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>تغییر قدرت</a>

      <a md-raised-button (click)="showTask()" class="btn btn-default pull-left" data-toggle="modal" data-target="#submit-license"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>ثبت مجوز</a>
      <a md-raised-button (click)="showTask()" class="btn btn-default pull-left" data-toggle="modal" data-target="#send-documents"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>مدارک ضمیمه</a>
      <a md-raised-button (click)="showTask()" class="btn btn-default pull-left" data-toggle="modal" data-target="#change-owner"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>تغییر مالک</a>
    </div>
  </div>
  <div class="row mt-1">
    <div class="btn-group btn-group-custom col-xs-12">
      <button md-raised-button type="button" class="btn btn-default pull-left" data-target=".support" data-toggle="modal"><img height="20" src="../../../../assets/images/icon/support.png" width="20" style="margin-left:5px;">پشتیبانی</button>
      <button md-raised-button type="button" class="btn btn-default pull-left" data-target=".movie" data-toggle="modal"><i class="fa fa-play" style="vertical-align: middle;margin-left:5px;"></i>فیلم</button>
      <button md-raised-button type="button" class="btn btn-default pull-left"><i class="fa fa-file-text" style="vertical-align: middle;margin-left:5px;"></i>متن</button> 
    </div>
  </div>
</div>
<div class="col-xs-12">
  <app-split-tasks></app-split-tasks>
</div>
<div class="col-xs-12 mt-1">
  <app-tasks [(tasks)]="tasks" (taskEdit)="showEditTask($event)"></app-tasks> <!-- [(tasks)]="tasks" -->
</div>
<div class="col-xs-12 mt-1">
  <a md-raised-button (click)="showTask()" class="btn btn-default pull-right" data-toggle="modal" data-target="#"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>امضاء</a>
  <a md-raised-button (click)="SaveSubmit()" class="btn btn-default pull-right" data-toggle="modal" data-target="#"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>ثبت نهایی</a>
</div>
<div class="modal customModal fade submitLicense" id="new-demand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">انشعاب جدید</h6>
        </div> 
        <div class="modal-body"> 
          <div *ngIf="!edit; else editDemand">
            <app-new-demand (addTask)="addTask($event)" [lastTaskId]="lastTaskId"></app-new-demand>  
          </div>
          <ng-template #editDemand>
            <app-edit-new-demand [task]="task"></app-edit-new-demand>  
          </ng-template>  
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="modal customModal fade submitLicense" id="integration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">تفکیک</h6>
        </div> 
        <div class="modal-body"> 
          <app-integration></app-integration>
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="modal customModal fade submitLicense" id="branching-address" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">آدرس ها</h6>
        </div> 
        <div class="modal-body">  
          <app-branching-address></app-branching-address>  
        </div>
      </div>  
    </div>
  </div>
</div>  
<!-- <div class="modal customModal fade submitLicense" id="change-tariff" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">تغییر تعرفه</h6>
        </div> 
        <div class="modal-body">  
          <app-change-tariff (addTask)="addTask($event)" [lastTaskId]="lastTaskId"></app-change-tariff>  
        </div>
      </div>  
    </div>
  </div>
</div> -->
<!-- <div class="modal customModal fade submitLicense" id="integration-separation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">ادغام / تفکیک</h6>
        </div> 
        <div class="modal-body">  
          <app-integration-separation></app-integration-separation>  
        </div>
      </div>  
    </div>
  </div>
</div>  
<div class="modal customModal fade submitLicense" id="become-permanent" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">تبدیل به دائم</h6>
        </div> 
        <div class="modal-body">  
          <app-become-permanent></app-become-permanent>  
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="modal customModal fade submitLicense" id="power-shift" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">تغییر قدرت</h6>
        </div> 
        <div class="modal-body">  
          <app-power-shift></app-power-shift>  
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="modal customModal fade submitLicense" id="change-owner" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">تغییر مالک</h6>
        </div> 
        <div class="modal-body">  
          <app-change-owner></app-change-owner>  
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="modal customModal fade submitLicense" id="submit-license" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">ثبت مجوز</h6>
        </div> 
        <div class="modal-body">  
          <app-submit-license></app-submit-license>  
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="modal customModal fade submitLicense" id="submit-license" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">ثبت مجوز</h6>
        </div> 
        <div class="modal-body">  
          <app-submit-license></app-submit-license>  
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="modal customModal fade submitLicense" id="send-documents" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width:100%;">
    <div class="mat-card">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title" id="myModalLabel">مدارک ضمیمه</h6>
        </div> 
        <div class="modal-body">  
          <app-send-documents></app-send-documents>  
        </div>
      </div>  
    </div>
  </div>
</div> -->
