<section class="parent-container pt-10 pbW-15">
  <div id="tabInWidth">
    <ul class="nav nav-tabs tab-top" role="tablist" style="padding-left:8px;padding-right:8px;">
      <li role="presentation"> <!-- [ngClass]="{'disabled': disabledLink}" -->
        <a [routerLink]="['/','forms','demand','SubmitDemand']" title="کاربر گرامی در هنگام وارد شدن به این قسمت تمام اطلاعات پر شده در فرم ها پاک خواهد شد">لیست متقاضی ها 
          <i class="fa fa-info-circle pull-right" aria-hidden="true" style="color:black;font-size:14px;vertical-align: middle;"></i>
        </a>
      </li>
      <li role="presentation" class="active">
        <a href="#step-1" aria-controls="step-1" role="tab" data-toggle="tab">ثبت متقاضی</a>
      </li>
      <li role="presentation" [ngClass]="{'disabled': disabledLink}">
        <a (click)="dataA(data)" href="#step-2" aria-controls="step-2" role="tab" data-toggle="tab">انشعابات موجود</a>
      </li> 
      <li role="presentation" [ngClass]="{'disabled': disabledLink}">
        <a (click)="dataA(data)" href="#step-3" aria-controls="step-3" role="tab" data-toggle="tab">عملیات</a>
      </li>
      <!-- <li role="presentation" [ngClass]="{'disabled': disabledLink}">
        <a (click)="dataA(data)" href="#step-4" aria-controls="step-4" role="tab" data-toggle="tab" [hidden]="change">تغییر تعرفه</a>
      </li> -->
      <!-- <li role="presentation" [ngClass]="{'disabled': disabledLink}">
        <a (click)="dataA(data)" href="#step-5" aria-controls="step-5" role="tab" data-toggle="tab" [hidden]="change">ادغام / تفکیک</a>
      </li>
      <li role="presentation" [ngClass]="{'disabled': disabledLink}">
        <a (click)="dataA(data)" href="#step-6" aria-controls="step-6" role="tab" data-toggle="tab" [hidden]="change">تبدیل به دائم</a>
      </li>
      <li role="presentation" [ngClass]="{'disabled': disabledLink}">
        <a (click)="dataA(data)" href="#step-7" aria-controls="step-7" role="tab" data-toggle="tab" [hidden]="change">تغییر قدرت</a>
      </li>
      <li role="presentation" [ngClass]="{'disabled': disabledLink}">
        <a (click)="dataA(data)" href="#step-8" aria-controls="step-8" role="tab" data-toggle="tab" [hidden]="change">تغییر مالک</a>
      </li>
      <li role="presentation" [ngClass]="{'disabled': disabledLink, 'pull-left' : true}">
        <a (click)="dataA(data); clicktab()" href="#step-9" aria-controls="step-9" role="tab" data-toggle="tab" [hidden]="change">مدارک ضمیمه</a>
      </li>
      <li role="presentation" [ngClass]="{'disabled': disabledLink, 'pull-left' : true}">
        <a (click)="dataA(data)" href="#step-10" aria-controls="step-10" role="tab" data-toggle="tab" [hidden]="change">ثبت مجوز</a>
      </li> -->
    </ul>
    <div class="tab-content">
      <section role="tabpanel" class="tab-pane form-listrequst active" id="step-1">
        <div class="col-xs-12">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-4 vertical">
                <div class="row">
                  <h6>نوع متقاضی</h6>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="row">
                  <div class="btn-group pull-left">
                    <button md-raised-button type="button" class="btn btn-default" data-target=".support" data-toggle="modal"><img height="20" src="../../../../assets/images/icon/support.png" width="20" style="margin-left:5px;">پشتیبانی</button>
                    <button md-raised-button type="button" class="btn btn-default" data-target=".movie" data-toggle="modal"><i class="fa fa-play" style="vertical-align: middle;margin-left:5px;"></i>فیلم</button>
                    <button md-raised-button type="button" class="btn btn-default"><i class="fa fa-file-text" style="vertical-align: middle;margin-left:5px;"></i>متن</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs" id="forIdTabDemand" role="tablist" [hidden]="dde">
            <li role="presentation" class=""><a href="#real" id="real-nav" md-raised-button class="btn btn-default mb-1 mt-1" aria-controls="real" role="tab" data-toggle="tab">حقیقی</a></li>
            <li role="presentation"><a href="#legal" id="legal-nav" md-raised-button class="btn btn-default mb-1 mt-1" aria-controls="legal" role="tab" data-toggle="tab">حقوقی</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane tab-content-real active" id="real">
              <app-form-real [disabledLink]="disabledLink" (changeBool)="changeBool($event)"></app-form-real> 
            </div>
            <div role="tabpanel" class="tab-pane tab-content-legal" id="legal">
              <app-form-legal [disabledLink]="disabledLink" (changeBool)="changeBool($event)"></app-form-legal>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="row mt-1">
              <div class="col-xs-12" style="overflow:hidden;padding-right:0px;">
                <div class="scroll-X-fullWidth">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <!-- <th colspan="1">ردیف</th> -->
                        <th colspan="1">نام مالک </th>
                        <th colspan="1">رمز</th>
                        <th colspan="1">پرونده</th>
                        <th colspan="1">شناسایی</th>
                        <th colspan="1">تعرفه</th>
                        <th colspan="1">امور</th>
                        <th colspan="1">بخش</th>
                        <th colspan="1">فاز</th>
                        <th colspan="1">آمپر</th>
                        <th colspan="1">قدرت</th>
                        <th colspan="1">تلفن</th>
                        <th colspan="4">آدرس</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of list"><!--*ngFor="let index = index"-->
                        <!-- <td >{{ 1 }}</td> -->
                        <td colspan="1">{{ item.firstName + item.lastName }}</td>
                        <td colspan="1">{{ item.branchCode }}</td>
                        <td colspan="1">{{ item.branchSrl }}</td>
                        <td colspan="1">{{ item.cityId + '-' + item.workDayCode + '-' + item.rdrCode + '-' + item.rdgSrl }}</td>
                        <td colspan="1">{{ item.trfCode }}</td>
                        <td colspan="1">{{ item.cityName }}</td>
                        <td colspan="1">{{ item.regionName }}</td>
                        <td colspan="1">{{ item.phs }}</td>
                        <td colspan="1">{{ item.amp }}</td>
                        <td colspan="1">{{ item.pwrCnt }}</td>
                        <td colspan="1">{{ item.phoneNumber }}</td>
                        <td colspan="4">{{ item.address }}</td>  
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section role="tabpanel" class="tab-pane form-listrequst" id="step-2">
         <app-existing-divisions></app-existing-divisions>  
      </section>
      <section role="tabpanel" class="tab-pane form-listrequst" id="step-3">
        <app-operation></app-operation>
      </section>
      <!-- <section role="tabpanel" class="tab-pane form-listrequst" id="step-4">
        <app-operation></app-operation>
      </section> -->
      <!-- <section role="tabpanel" class="tab-pane form-listrequst" id="step-5">
        <app-integration-separation></app-integration-separation>
      </section>
      <section role="tabpanel" class="tab-pane form-listrequst" id="step-6">
        <app-become-permanent></app-become-permanent>
      </section>
      <section role="tabpanel" class="tab-pane form-listrequst" id="step-7">
        <app-power-shift></app-power-shift>
      </section>
      <section role="tabpanel" class="tab-pane form-listrequst" id="step-8">
        <app-change-owner></app-change-owner>
      </section>
      <section role="tabpanel" class="tab-pane form-listrequst" id="step-9">
        <send-documents></send-documents>
      </section>
      <section role="tabpanel" class="tab-pane form-listrequst" id="step-10">
        <submit-license></submit-license>
      </section> -->
    </div>
  </div>
</section>
