<!-- /*<style>
  div.container {
    margin-top: 20px;
  }
</style>

<div class="container " style="background-color:#6B6B6B;direction: rtl;text-align: center;font-size: 20px" >
  <div style="width: 200px;height: 200px;background-color:red;color: #122fff;text-align: right">
    {{titel}}
  </div>
  <div style="width: 200px;height:auto;background-color:red;color: #122fff;text-align: right">
    <img src="../../assets/css/andcLogo2.jpg" height="51" width="60"/></div>
  <form class="form-group" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-horizontal">
      <div class="row form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">نام کاربری</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        <div *ngIf="f.submitted && !username.valid" class="help-block">کاربر گرامی لطفا نام کاربری خود را به درستی وارد کنید</div>
      </div>
      <div class="row form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">رمز عبور</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">کاربر گرامی لطفا پسورد را به درستی وارد کنید</div>
      </div>
      <div class="row form-group">
        <button [disabled]="loading" class="btn btn-primary">ورود</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

      </div>
    </div>

  </form>
</div>*/ -->
