<section class="parent-container pt-10 pbW-15">
  <section class="form-listrequst">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-4 vertical">
            <div class="row">
              <h4 class="h6 mb-2">تغییر مالک</h4>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="row">
              <div class="btn-group pull-left">
                <button type="button" class="btn btn-default" data-target=".support" data-toggle="modal"><img height="20" src="../../../../assets/images/icon/support.png" width="20" style="margin-left:5px;">پشتیبانی</button>
                <button type="button" class="btn btn-default" data-target=".movie" data-toggle="modal"><i class="fa fa-play" style="vertical-align: middle;margin-left:5px;"></i>فیلم</button>
                <button type="button" class="btn btn-default"><i class="fa fa-file-text" style="vertical-align: middle;margin-left:5px;"></i>متن</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <form method="post" [formGroup]="ChangeOwner"  (ngSubmit)="ChangeOwnerRes()">
              <div class="col-xs-12 col-sm-4 col-md-4" style="height:80px;">
                <label for="pass">رمز</label>
                <div class="input-group">
                <input type="text" id="pass" class="form-control" [formControl]="ChangeOwner.controls['SerachRes']" onkeypress="return isNumber(event)">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" style="font-size:11.5px">جستجو</button>
                </div>
              </div>
                <small *ngIf="ChangeOwner.controls['SerachRes'].hasError('required') && ChangeOwner.controls['SerachRes'].touched" class="mat-text-warn">فیلد شما خالی میباشد</small>
              </div>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-3" style="height:80px;">
                    <div class="form-group">
                      <label for="name">نام</label>
                      <input *ngIf="firstName == null" id="name" class="form-control" type="text" [formControl]="ChangeOwner.controls['firstName']">
                      <small *ngIf="ChangeOwner.controls['firstName'].hasError('required') && ChangeOwner.controls['firstName'].touched" class="mat-text-warn">فیلد شما خالی میباشد</small>
                    </div>
                      <!-- <input  *ngIf="firstName != null" type="text" placeholder="نام" [value]="firstName" [disabled]="!firstName.valid"> -->
                  </div>
                  <div class="col-xs-12 col-sm-3" style="height:80px;">
                    <div class="form-group">
                      <label for="lastName">نام خانوادگی</label>
                      <input *ngIf="lastName == null" type="text" id="lastName" class="form-control" [formControl]="ChangeOwner.controls['lastName']">
                      <small *ngIf="ChangeOwner.controls['lastName'].hasError('required') && ChangeOwner.controls['lastName'].touched" class="mat-text-warn">فیلد شما خالی میباشد</small>
                    </div>
                      <!-- <input *ngIf="lastName != null" type="text" placeholder="نام خانوادگی" [value]="lastName" [disabled]="!lastName.valid"> -->
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-3" style="height:80px;">
                    <div class="form-group">
                      <label for="fatherName">نام پدر</label>
                      <input *ngIf="fatherName == null" type="text" id="fatherName" class="form-control" [formControl]="ChangeOwner.controls['fatherName']">
                      <small *ngIf="ChangeOwner.controls['fatherName'].hasError('required') && ChangeOwner.controls['fatherName'].touched" class="mat-text-warn">فیلد شما خالی میباشد</small>
                    </div>
                      <!-- <input *ngIf="fatherName != null" type="text" placeholder="نام پدر" [value]="fatherName" [disabled]="!fatherName.valid"> -->
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-3" style="height:80px;">
                    <div class="form-group">
                      <label for="NationalCode">کد ملی</label>
                      <input [(ngModel)]="NameFilter" id="NationalCode" class="form-control" #postalCode maxlength="10" type="text" onkeypress="return isNumber(event)" [formControl]="ChangeOwner.controls['NationalCode']">
                      <span class="pull-left">{{postalCode.value.length}} / 10</span>
                      <small *ngIf="ChangeOwner.controls['NationalCode'].hasError('required') && ChangeOwner.controls['NationalCode'].touched" class="mat-text-warn">فیلد شما خالی میباشد</small>
                      <small *ngIf="ChangeOwner.controls['NationalCode'].hasError('minlength') && ChangeOwner.controls['NationalCode'].touched" class="mat-text-warn">کد ملی شما نامعتبر است</small>
                      <small *ngIf="ChangeOwner.controls['NationalCode'].hasError('maxlength') && ChangeOwner.controls['NationalCode'].touched" class="mat-text-warn">کد ملی شما نامعتبر است</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <button class="btn btn-info mb-10" [disabled]="!ChangeOwner.valid" (click)="SaveRequstChangeOwner()">تبدیل به دائم</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <!-- <div class="col-xs-12 mt-30">
              <div class="table-respansive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>تست</th>
                    <th>تست</th>
                    <th>تست</th>
                    <th>تست</th>
                    <th>تست</th>
                    <th>تست</th>
                    <th>تست</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                  </tr>
                  <tr>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                   <td>تست</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination CPagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">از اول</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">قبلی</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">بعدی</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">از آخر</a>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
