.scroll-X-fullWidth{
  min-width: 1085px;
  width:auto;
  overflow-x: scroll;
  min-height:120px;
  max-height:200px;
  overflow-y: auto;
}
.scroll-X-fullWidth thead tr th{
    font-weight: bold;
}
.scroll-X-fullWidth .table-bordered{
  width: 1500px;
}
.scroll-X-fullWidth .table-bordered thead{
  border-bottom:1px solid #ddd;
}
