<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <form method="post" [formGroup]="become" (ngSubmit)="BecomeRes()">
          <input type="hidden" [formControl]="become.controls['FormName']">
          <input type="hidden" [formControl]="become.controls['FormId']">
          <div class="col-xs-12 col-sm-4 col-md-4" style="height:80px;">
            <label for="BranchCode">رمز</label>
            <div class="input-group">
              <input type="text" id="BranchCode" class="form-control" [formControl]="become.controls['BranchCode']" onkeypress="return isNumber(event)" (keyup.enter)="onEnter(searchTerm.value)" #searchTerm required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" style="font-size:11.5px" (click)="serachByPassCodeAndBillId(searchTerm)">جستجو</button>
              </div>
            </div>
            <small *ngIf="become.controls['BranchCode'].hasError('required') && become.controls['BranchCode'].touched" class="mat-text-warn">فیلد شما خالی میباشد</small>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="row">
              <div class="btn-group pull-left">
                <button md-raised-button type="button" class="btn btn-default" data-target=".support" data-toggle="modal"><img height="20" src="../../../../assets/images/icon/support.png" width="20" style="margin-left:5px;">پشتیبانی</button>
                <button md-raised-button type="button" class="btn btn-default" data-target=".movie" data-toggle="modal"><i class="fa fa-play" style="vertical-align: middle;margin-left:5px;"></i>فیلم</button>
                <button md-raised-button type="button" class="btn btn-default"><i class="fa fa-file-text" style="vertical-align: middle;margin-left:5px;"></i>متن</button>
              </div>
            </div>
          </div>
          <div class="dataRes col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">نام مالک :</label>
                  <input type="text" class="form-control" [value]="FirstName + LastName" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">رمز :</label>
                  <input type="text" class="form-control" [value]="BranchCode" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">پرونده :</label>
                  <input type="text" class="form-control" [value]="BranchSrl" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">شناسایی :</label>
                  <input type="text" class="form-control" [value]="CityId + '-' + WorkDayCode + '-' + RdrCode + '-' + RdgSrl" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">تعرفه :</label>
                  <input type="text" class="form-control" [value]="TrfCode" disabled="disabled"> 
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">امور :</label>
                  <input type="text" class="form-control" [value]="RegionName" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">بخش :</label>
                  <input type="text" class="form-control" [value]="CityName" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="from-group">
                  <label for="">فاز :</label>
                  <input type="text" class="form-control" [value]="Phs" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">آمپر :</label>
                  <input type="text" class="form-control" [value]="Amp" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">قدرت :</label>
                  <input type="text" class="form-control" [value]="PwrCnt" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">تلفن :</label>
                  <input type="text" class="form-control" [value]="PhoneNumber" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label for="">آدرس :</label>
                  <input type="text" class="form-control" [value]="Address" disabled="disabled">
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <button md-raised-button class="btn btn-info mb-1" [disabled]="!become.valid" (click)="SaveRequstBecome()">تبدیل به دائم</button>
                <button md-raised-button (click)="resetForm()" id="close" class="btn btn-danger" data-dismiss="modal" aria-label="Close">انصراف</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<h6 class="col-xs-12 col-sm-4" style="font-size:12px;">
    <div class="row">
        عملیات
    </div>
  </h6>
  <div class="col-xs-12 mb-1" style="overflow:hidden;border: 1px solid #c1c1c1;">
    <div class="row parent-scroll">
      <div class="scroll-X-fullWidth"> 
        <table class="table table-bordered"> 
          <thead>
            <tr>
            <th colspan="1">ردیف</th>
            <th colspan="1">سر تعرفه</th>
            <th colspan="1">ریز تعرفه</th>
            <th colspan="1">تعداد</th>
            <th colspan="1">شناسایی</th>
            <th colspan="1">امور</th>
            <th colspan="1">بخش</th>
            <th colspan="1">فاز</th>
            <th colspan="1">آمپر</th>
            <th colspan="1">قدرت</th>
            <th colspan="1">تلفن</th><!--*ngFor="let item of list;let i = index"-->
            <th colspan="4">آدرس</th><!--let item1 of item.CalculationData;let i = index" (click)="RemoveData()-->    <!--*ngFor="let task of item.CalculationData"-->
            </tr>
          </thead>
          <tbody *ngFor="let task of tasks;let i = index">
            <tr *ngFor="let task1 of task.CalculationData">
              <td>{{ i + 1 }}</td>
              <td>{{ task1.Phs }}</td>
              <td>{{ task1.TrfHCode }}</td>
              <td>{{ task1.TrfDetailCode}}</td>
              <td>{{ task1.Count }}</td>
              <td>{{ task1.PwrIcn }}</td>
              <td>{{ task1.PwrCnt }}</td>
              <td>{{ task1.VoltCode }}</td>
              <td>{{ task1.Amp }}</td>
              <td>{{ task1.FmlCode }}</td> 
              <td>
                <a md-raised-button class="btn btn-default btn-xs" (click)="editTask(task)" data-toggle="modal" data-target="#new-demand"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>ویرایش</a>
                <a md-raised-button class="btn btn-danger btn-xs" (click)="deleteTask(task)"><i class="fa fa-pencil-square-o" style="margin-left:5px;vertical-align: middle; font-size:12px;"></i>حذف</a>
              </td>
            </tr> 
          </tbody>
        </table> 
      </div>  
    </div>
  </div>
  