<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-teal">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>local_offer</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>103</h5>
          <p>Campaigns</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-purple">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>phone</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>230</h5>
          <p>Customers</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-red">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>notifications</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>323</h5>
          <p>Queries</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-indigo">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>email</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>870</h5>
          <p>Opens</p>
        </div>
      </div>
    </md-card>
  </div>
</div>


