<div class="col-xs-12">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-4 vertical">
        <div class="row">
          <h4 class="h6">انشعاب موجود</h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="btn-group pull-left">
            <button md-raised-button type="button" class="btn btn-default" data-target=".support" data-toggle="modal"><img height="20" src="../../../../assets/images/icon/support.png" width="20" style="margin-left:5px;">پشتیبانی</button>
            <button md-raised-button type="button" class="btn btn-default" data-target=".movie" data-toggle="modal"><i class="fa fa-play" style="vertical-align: middle;margin-left:5px;"></i>فیلم</button>
            <button md-raised-button type="button" class="btn btn-default"><i class="fa fa-file-text" style="vertical-align: middle;margin-left:5px;"></i>متن</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
     <div class="col-xs-12"> 
       <div class="row">
        <form [formGroup]="existing" (ngSubmit)="ExistingRes()">
          <div class="col-xs-12 col-sm-4 col-md-4" style="height:80px;">
            <label for="BranchCode">شماره قبض / رمز</label>
            <div class="input-group">
              <input type="text" id="BranchCode" class="form-control" [formControl]="existing.controls['BranchCode']" (keyup.enter)="onEnter(searchTerm.value)" #searchTerm required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="serachByPassCodeAndBillId(searchTerm)" style="font-size:11.5px">جستجو</button>
              </div>
            </div>
            <small *ngIf="existing.controls['BranchCode'].hasError('required') && existing.controls['BranchCode'].touched" class="mat-text-warn">فیلد شما خالی میباشد</small>
          </div>
          <div class="dataRes col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">نام مالک :</label>
                  <input 
                  [(ngModel)]="FullName" 
                  [(value)]="FullName" 
                  class="form-control" disabled="disabled" 
                  [formControl]="existing.controls['FullName']"
                  (keypress)="FullName=$event.target.value">
                </div>
              </div>
               <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">رمز :</label>
                  <input 
                  [(ngModel)]="BranchCode" 
                  [(value)]="BranchCode"
                  [formControl]="existing.controls['BranchCode']"
                  (keypress)="BranchCode=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div> 
               <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">پرونده :</label>
                  <input
                  [(ngModel)]="BranchSrl" 
                  [(value)]="BranchSrl"
                  [formControl]="existing.controls['BranchSrl']"
                  (keypress)="BranchSrl=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div> 
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="">شناسایی :</label>
                  <input 
                  [(ngModel)]="FileNumber" 
                  [(value)]="FileNumber"
                  [formControl]="existing.controls['FileNumber']"
                  (keypress)="FileNumber=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="TrfCode">تعرفه :</label>
                  <input
                  [(ngModel)]="TrfCode" 
                  [(value)]="TrfCode"
                  [formControl]="existing.controls['TrfCode']"
                  (keypress)="TrfCode=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div> 
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="RegionNameID">امور :</label>
                  <input
                  [(ngModel)]="RegionNameID" 
                  [(value)]="RegionNameID"
                  [formControl]="existing.controls['RegionNameID']"
                  (keypress)="RegionNameID=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="CityNameID">بخش :</label>
                  <input
                  [(ngModel)]="CityNameID" 
                  [(value)]="CityNameID"
                  [formControl]="existing.controls['CityNameID']"
                  (keypress)="CityNameID=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="Phs">فاز :</label>
                  <input
                  [(ngModel)]="Phs" 
                  [(value)]="Phs"
                  [formControl]="existing.controls['Phs']"
                  (keypress)="Phs=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="Amp">آمپر :</label>
                  <input
                  [(ngModel)]="Amp" 
                  [(value)]="Amp"
                  [formControl]="existing.controls['Amp']"
                  (keypress)="Amp=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="PwrCnt">قدرت :</label>
                  <input 
                  [(ngModel)]="PwrCnt" 
                  [(value)]="PwrCnt"
                  [formControl]="existing.controls['PwrCnt']"
                  (keypress)="PwrCnt=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="PhoneNumber">تلفن :</label>
                  <input                   
                  [(ngModel)]="PhoneNumber" 
                  [(value)]="PhoneNumber"
                  [formControl]="existing.controls['PhoneNumber']"
                  (keypress)="PhoneNumber=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
               <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                  <label for="PhoneNumber">کد روستا :</label>
                  <input                   
                  [(ngModel)]="VillageName" 
                  [(value)]="VillageName"
                  [formControl]="existing.controls['VillageName']"
                  (keypress)="VillageName=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div> 
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label for="Adress">آدرس :</label>
                  <input
                  [(ngModel)]="Adress" 
                  [(value)]="Adress"
                  [formControl]="existing.controls['Adress']"
                  (keypress)="Adress=$event.target.value"
                  class="form-control" disabled="disabled">
                </div>
              </div>
             </div>  
            <div class="col-xs-12">
              <div class="row">
                <button md-raised-button type="button" class="btn btn-info mb-10" [disabled]="!existing.valid" (click)="SaveRequst()">اضافه به لیست</button>
                <button md-raised-button type="button" class="btn btn-info mb-10">حذف کردن لیست</button> 
              </div>
            </div>
          </div> 
        </form>   
      </div>
      <div class="row mt-1">
        <div class="col-xs-12" style="overflow:hidden;">
          <div class="scroll-X-fullWidth">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="1">نام مالک </th>
                  <th colspan="1">رمز</th>
                  <th colspan="1">پرونده</th>
                  <th colspan="1">شناسایی</th>
                  <th colspan="1">تعرفه</th>
                  <th colspan="1">امور</th>
                  <th colspan="1">بخش</th>
                  <th colspan="1">فاز</th>
                  <th colspan="1">آمپر</th>
                  <th colspan="1">قدرت</th>
                  <th colspan="1">تلفن</th>
                  <th colspan="4">آدرس</th>
                </tr>
              </thead>
               <tbody>
                 <tr *ngFor="let item of list;let i = index" (click)="RemoveData()">
                  <td colspan="1">{{ item.FullName }}</td>
                  <td colspan="1">{{ item.BranchCode }}</td>
                  <td colspan="1">{{ item.BranchSrl }}</td>
                  <td colspan="1">{{ item.FileNumber }}</td>
                  <td colspan="1">{{ item.TrfCode }}</td>
                  <td colspan="1">{{ item.CityNameID }}</td>
                  <td colspan="1">{{ item.RegionNameID }}</td>
                  <td colspan="1">{{ item.Phs }}</td>
                  <td colspan="1">{{ item.Amp }}</td>
                  <td colspan="1">{{ item.PwrCnt }}</td>
                  <td colspan="1">{{ item.PhoneNumber }}</td>
                  <td colspan="4">{{ item.Address }}</td>
                </tr> 
              </tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
